<!-- En esta vista el super usuario podrá ver y filtral usuarios -->
<div>
  <div>
    <button mat-button class="buton-crear" (click)="openDialog()">Crear</button>
  </div>
  <!-- formulario para hacer un filtrado según un usuario existente -->
  <div>
    <mat-card class="titulo-buqueda-usuario">Búsqueda de usuario</mat-card>
    <mat-card class="buqueda-usuario">
      <form>
        <mat-form-field class="nombre-usuario" appearance="fill">
          <mat-label>Nombre de usuario</mat-label>
          <input name="username" matInput placeholder="escribir nombre usuario" [(ngModel)]="filtro.username">
        </mat-form-field>

        <mat-form-field class="fecha-inicio" appearance="fill">
          <mat-label>Desde</mat-label>
          <input name="pickerDesde" matInput [matDatepicker]="pickerDesde" placeholder="mes/dia/año" [(ngModel)]="filtro.fechaDesde">
          <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
          <mat-datepicker #pickerDesde></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="fecha-final" appearance="fill">
          <mat-label>Hasta</mat-label>
          <input name="pickerHasta" matInput [matDatepicker]="pickerHasta" placeholder="mes/dia/año" [(ngModel)]="filtro.fechaHasta">
          <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
          <mat-datepicker #pickerHasta></mat-datepicker>
        </mat-form-field>

        <br>
        <br>
        <mat-form-field class="correo" appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input name="email" matInput placeholder="jpa@segurosbolivar.com" [(ngModel)]="filtro.email">
        </mat-form-field>
        <button mat-raised-button class="buton-borrar" (click)="borrar()">Borrar</button>
        <button mat-raised-button class="buton-filtrar" (click)="filtrar()">Filtrar</button>
      </form>
    </mat-card>
  </div>
      <!-- Tabla descrición usuarios existentes -->
      <div>
      <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <!----->
          <div *ngIf="column !== 'acciones'">
            <td  mat-cell *matCellDef=" let usuario"> {{usuario[column]}} </td>
          </div>
          <div *ngIf="column === 'acciones'">
            <td  mat-cell *matCellDef="let usuario">
                <mat-icon (click)="editar(usuario.id)" class="icon-logo" aria-label="Editar usuario">edit</mat-icon>
                <mat-icon (click)="openDialogDesactivar(usuario.id)" class="icon-logo" aria-label="Desactivar usuario">unpublished</mat-icon>
            </td>
          </div>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>



