:host {
  display: flex;
  justify-content: center;
}

/* busqueda de usuario */

.titulo-buqueda-usuario {
  display: flex;
  align-content: center;
  width: 60rem;
  min-width: 40rem;
  background-color: #F5F5F5;
  margin-top: 1rem;
  align-content: center;
}

.buqueda-usuario {
  display: flex;
  width: 60rem;
  min-width: 40rem;
  background-color: #ffff;
  margin-top: 0.22rem;
  align-content: center;
}

.buqueda-usuario .nombre-usuario {
  position: relative;
  left: 5rem;
  margin-top: 2rem;
}

.buqueda-usuario .correo {
    margin-left: 5rem;
}

.buqueda-usuario .fecha-inicio {
  position: relative;
  left: 10.5rem;
}

.buqueda-usuario .fecha-final {
  position: relative;
  left: 11.5rem;
}

table {
  position: absolute;
  width: 62rem;
  min-width: 40rem;
  background-color: #ffff;
  margin-top: 4rem;
}

/* Botones crear, borrar y filtrar */

.buton-crear {
  left: 57.6rem;
  margin-top: 3rem;
  background-color: #007DED;
  color: #ffff;
}
.buton-borrar {
  position: absolute;
  right: 11rem;
  margin-top: 1.3rem;
}

.buton-filtrar {
  position: absolute;
  right: 6.2rem;
  margin-top: 1.3rem;
  background-color: #007DED;
  color: #ffff;
}






