<div mat-dialog-title class="mensaje">{{data.titulo}} tutela
  <button mat-button mat-dialog-close class="buton-cerrar">
    <mat-icon class="icon-logo" aria-hidden="false" aria-label="Example home icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <!-- formulario inicial con información del accionante -->
  <form [formGroup]="tutelaFormGroup" >
    <mat-grid-list cols="3" rowHeight="110px">
      <mat-grid-tile>
        <div class="align-left">
          <mat-form-field appearance="fill">
            <mat-label>Nombre del accionante</mat-label>
            <input name="nombreAccionante" matInput placeholder="escribir nombre accionante" [(ngModel)]="tutela.nombreAccionante" formControlName="nombreAccionanteValidacion" [readonly]="data.llamadoDesde !== 'RADICADOR'">
            <mat-error *ngIf="tutelaFormGroup.controls['nombreAccionanteValidacion'].hasError('required')">{{getErrorMessage('nombreAccionanteValidacion', 'required')}}</mat-error>
            <mat-error *ngIf="tutelaFormGroup.controls['nombreAccionanteValidacion'].hasError('minlength') || tutelaFormGroup.controls['nombreAccionanteValidacion'].hasError('maxlength')">{{getErrorMessage('nombreAccionante', 'minmax')}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="align-left">
          <mat-form-field  appearance="fill">
            <mat-label>Tipo de documento</mat-label>
            <mat-select name="tipoDocumento" [(ngModel)]="tutela.tipoDocumentoAccionante" formControlName="tipoDocumentoAccionanteValidacion" [disabled]="data.llamadoDesde !== 'RADICADOR'">
              <mat-option *ngFor="let tipoDocumento of tiposDocumentos" [value]="tipoDocumento.value">
                {{tipoDocumento.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="tutelaFormGroup.controls['tipoDocumentoAccionanteValidacion'].hasError('required')">{{getErrorMessage('tipoDocumentoAccionante', 'required')}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="align-left">
          <mat-form-field appearance="fill">
            <mat-label>Número de documento</mat-label>
            <input name="documentoAccionante" matInput placeholder="número documento accionante" [(ngModel)]="tutela.documentoAccionante" formControlName="documentoAccionanteValidacion" [readonly]="data.llamadoDesde !== 'RADICADOR'">
            <mat-error *ngIf="tutelaFormGroup.controls['documentoAccionanteValidacion'].hasError('required')">{{getErrorMessage('documentoAccionanteValidacion', 'required')}}</mat-error>
            <mat-error *ngIf="tutelaFormGroup.controls['documentoAccionanteValidacion'].hasError('minlength') || tutelaFormGroup.controls['documentoAccionanteValidacion'].hasError('maxlength')">{{getErrorMessage('documentoAccionante', 'minmax')}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="align-left">
          <mat-form-field appearance="fill">
            <mat-label>Dirección del accionante</mat-label>
            <input name="direccionAccionante" matInput placeholder="calle 18 #125-59 - Cali" [(ngModel)]="tutela.direccionAccionante" [ngModelOptions]="{standalone: true}" [readonly]="data.llamadoDesde !== 'RADICADOR'">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="align-left">
          <mat-form-field  appearance="fill">
            <mat-label>Teléfono del accionante</mat-label>
            <input name="telefonoAccionante" matInput placeholder="4444544" [(ngModel)]="tutela.telefonoAccionante" [ngModelOptions]="{standalone: true}" [readonly]="data.llamadoDesde !== 'RADICADOR'">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="align-left">
          <mat-form-field  appearance="fill">
            <mat-label>Celular del accionante</mat-label>
            <input name="celularAccionante" matInput placeholder="4444544" [(ngModel)]="tutela.celularAccionante" [ngModelOptions]="{standalone: true}" [readonly]="data.llamadoDesde !== 'RADICADOR'">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="align-left">
            <mat-form-field appearance="fill">
              <mat-label>Nº radicado del juzgado</mat-label>
              <input name="numRadicadoJuzgado" matInput placeholder="4444544" [(ngModel)]="tutela.numRadicadoJuzgado" formControlName="numRadicadoJuzgadoValidacion" [readonly]="data.llamadoDesde !== 'RADICADOR'">
              <mat-error *ngIf="tutelaFormGroup.controls['numRadicadoJuzgadoValidacion'].hasError('required')">{{getErrorMessage('numRadicadoJuzgado', 'required')}}</mat-error>
              <mat-error *ngIf="tutelaFormGroup.controls['numRadicadoJuzgadoValidacion'].hasError('minlength') || tutelaFormGroup.controls['numRadicadoJuzgadoValidacion'].hasError('maxlength')">{{getErrorMessage('numRadicadoJuzgado', 'minmax')}}</mat-error>
            </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="align-left">
            <mat-form-field  appearance="fill">
              <mat-label>Fecha radicación juzgado</mat-label>
              <input name="pickerJuzgado" matInput [matDatepicker]="pickerJuzgado" placeholder="mes/dia/año" [(ngModel)]="tutela.fechaRadicacionJuzgado" formControlName="fechaRadicacionJuzgadoValidacion" [disabled]="data.llamadoDesde !== 'RADICADOR'">
              <mat-datepicker-toggle matSuffix [for]="pickerJuzgado"></mat-datepicker-toggle>
              <mat-datepicker #pickerJuzgado></mat-datepicker>
              <mat-error *ngIf="tutelaFormGroup.controls['fechaRadicacionJuzgadoValidacion'].hasError('required')">{{getErrorMessage('fechaRadicacionJuzgado', 'required')}}</mat-error>
            </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
        <a class="mensaje">DOCUMENTOS ANEXOS </a>
        <mat-card class="mat-card-anexo" style="margin-bottom: 30px">
            <mat-form-field class="tipo-anexo" appearance="fill">
              <mat-label>Tipo de anexo</mat-label>
              <mat-select name="tipoAnexo" [(ngModel)]="tipoAnexo" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let tipoAnexo of tiposAnexos" [value]="tipoAnexo.value">
                  {{tipoAnexo.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="url-poder" appearance="fill">
              <ngx-mat-file-input #uploader [formControl]="fileControl" [multiple]="multiple" [accept]="accept" [color]="color">
              </ngx-mat-file-input>
            </mat-form-field>

          <table mat-table #tablaAnexos [dataSource]="tutela.anexos" class="mat-elevation-z8" style="width: 100%">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let anexo"> {{anexo.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef> Tipo </th>
              <td mat-cell *matCellDef="let anexo"> {{anexo.tipo}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let anexo">
                  <mat-icon *ngIf="data.llamadoDesde === 'RADICADOR'" (click)="eliminarAnexo(anexo)" class="icon-logo">delete</mat-icon>
                  <mat-icon *ngIf="data.tutela !== null && anexo.url !== ''" (click)="descargarAnexo(anexo)" class="icon-logo">file_download</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsAnexos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAnexos;"></tr>
          </table>


        </mat-card>

        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tutela
              </mat-panel-title>
              <mat-panel-description>
                Informacion basica de la tutela
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="p-20">
              <a class="mensaje">HECHOS</a>
              <mat-form-field class="text-area" appearance="fill">
                <textarea class="text-area" matInput [(ngModel)]="tutela.hechos" [ngModelOptions]="{standalone: true}" [readonly]="data.llamadoDesde !== 'RADICADOR'"></textarea>
              </mat-form-field>
            </div>
            <a class="mensaje">DERECHOS PRESUNTAMENTE VIOLADOS</a>
            <mat-form-field appearance="fill">
              <mat-label>Derechos Violentados</mat-label>
              <mat-select name="derechosViolentados" [(ngModel)]="derechosSeleccionados" multiple [ngModelOptions]="{standalone: true}" [disabled]="data.llamadoDesde !== 'RADICADOR'">
                <mat-option *ngFor="let derecho of derechosOpciones" [value]="derecho.id">
                  {{derecho.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div>
              <a class="mensaje">PETICIÓN</a>
              <mat-form-field class="text-area" appearance="fill">
                <textarea class="text-area" matInput [(ngModel)]="tutela.peticion" [ngModelOptions]="{standalone: true}" [readonly]="data.llamadoDesde !== 'RADICADOR'"></textarea>
              </mat-form-field>
            </div>


            <a class="mensaje">FUNDAMENTOS DEL MINISTERIOS</a>
            <mat-form-field class="text-area" appearance="fill">
              <textarea class="text-area" matInput [(ngModel)]="tutela.fundamentosMinisterio" [ngModelOptions]="{standalone: true}" [readonly]="data.llamadoDesde !== 'RADICADOR'"></textarea>
            </mat-form-field>

            <a class="mensaje">PETICIONES DEL MINISTERIOS</a>
            <mat-form-field class="text-area" appearance="fill">
              <textarea class="text-area" matInput [(ngModel)]="tutela.peticionesMinisterio" [ngModelOptions]="{standalone: true}" [readonly]="data.llamadoDesde !== 'RADICADOR'"></textarea>
            </mat-form-field>

            <mat-grid-list cols="2" rowHeight="70px">
              <mat-grid-tile>
                <div class="align-left">
                  <a class="mensaje">TERMINO</a>
                  <mat-form-field class="fecha-termino" appearance="fill">
                    <mat-label>Término de la tutela</mat-label>
                    <input name="pickerTermino" matInput [matDatepicker]="pickerTermino" placeholder="mes/dia/año" [(ngModel)]="tutela.termino" [ngModelOptions]="{standalone: true}" [disabled]="data.llamadoDesde !== 'RADICADOR'">
                    <mat-datepicker-toggle matSuffix [for]="pickerTermino"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTermino></mat-datepicker>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile >
                <div style="position: absolute; left: 5px; width: 100%;">
                  <a class="mensaje">EMPRESA</a>
                  <mat-form-field class="empresa-notificar" appearance="fill">
                    <mat-label>Empresa a la que se le notificará</mat-label>
                    <mat-select name="empresaNotificar" [(ngModel)]="tutela.cliente.id" [ngModelOptions]="{standalone: true}" [disabled]="data.llamadoDesde !== 'RADICADOR'">
                      <mat-option *ngFor="let cliente of clienteOpciones" [value]="cliente.id" >
                        {{cliente.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
            <a class="mensaje" style="width: 20%;">DESPACHO</a>
            <mat-form-field class="despacho" appearance="fill">
              <mat-label>Despacho al que será enviado</mat-label>
              <input name="despacho" matInput placeholder="Ejemplo: Despacho 18 de Cali - Calle 18 #59-20"  [(ngModel)]="tutela.despacho" [ngModelOptions]="{standalone: true}" [readonly]="data.llamadoDesde !== 'RADICADOR'">
            </mat-form-field>
          </mat-expansion-panel>

            <mat-expansion-panel hideToggle *ngIf="data.llamadoDesde !== 'RADICADOR'">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Respuesta
                </mat-panel-title>
                <mat-panel-description>
                  Esto es lo de respuesta
                </mat-panel-description>
              </mat-expansion-panel-header>
              <a class="mensaje">CONFIRMACIÓN DEL CLIENTE A LA RESPUESTA</a>
              <div class="confirmacion-cliente">
                <mat-checkbox class="check-confirmacion" [(ngModel)]="tutela.consenClientRespuesta" [ngModelOptions]="{standalone: true}" [disabled]="data.llamadoDesde === 'ARCHIVADAS'">Check si el cliente ha dado su consentimiento para el envío de la respuesta al Despacho judicial.</mat-checkbox>
              </div>

              <div class="p-20">
                <a class="mensaje">COMENTARIOS DEL CLIENTE</a>
                <mat-form-field class="text-area" appearance="fill">
                  <textarea class="text-area" matInput [(ngModel)]="tutela.consenClientRespuestaComen" [ngModelOptions]="{standalone: true}" [disabled]="data.llamadoDesde === 'ARCHIVADAS'"></textarea>
                </mat-form-field>
              </div>

              <a class="mensaje">FECHA DE ENVÍO AL DESPACHO</a>
              <mat-form-field class="fecha-envío" appearance="fill">
                <mat-label>Fecha envío Respuesta</mat-label>
                <input name="pickerEnvioRespuesta" matInput [matDatepicker]="pickerEnvioRespuesta" placeholder="mes/dia/año" [(ngModel)]="tutela.fechaEnvioRespuestaDespacho" [ngModelOptions]="{standalone: true}" [disabled]="data.llamadoDesde === 'ARCHIVADAS'">
                <mat-datepicker-toggle matSuffix [for]="pickerEnvioRespuesta"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnvioRespuesta></mat-datepicker>
              </mat-form-field>
            </mat-expansion-panel>


          <mat-expansion-panel hideToggle *ngIf="data.llamadoDesde !== 'RADICADOR' && tutela.consenClientRespuesta">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Impugnación
              </mat-panel-title>
              <mat-panel-description>
                Esto es lo de Impugnación
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="width: 100%;">
              <a class="mensaje">CONFIRMACIÓN DEL CLIENTE AL OFICIO DE IMPUGNACIÓN</a>
              <div class="confirmacion-cliente">
                <mat-checkbox class="check-confirmacion" [(ngModel)]="tutela.consenClientImpugna" [ngModelOptions]="{standalone: true}" [disabled]="data.llamadoDesde === 'ARCHIVADAS'">Check si el cliente ha dado su consentimiento para el envío del oficio de impugnación al Despacho judicial.</mat-checkbox>
              </div>
            </div>

            <div class="p-20">
              <a class="mensaje">COMENTARIOS DEL CLIENTE</a>
              <mat-form-field class="text-area" appearance="fill">
                <textarea class="text-area" matInput [(ngModel)]="tutela.consenClientImpugnaComen" [ngModelOptions]="{standalone: true}" [readonly]="data.llamadoDesde === 'ARCHIVADAS'"></textarea>
              </mat-form-field>
            </div>

            <a class="mensaje">FECHA DE ENVÍO AL DESPACHO</a>
            <mat-form-field class="fecha-envío" appearance="fill">
              <mat-label>Fecha envío Impugnación</mat-label>
              <input name="pickerEnvioDespacho" matInput [matDatepicker]="pickerEnvioDespacho" placeholder="mes/dia/año" [(ngModel)]="tutela.fechaEnvioImpugnacionDespacho" [ngModelOptions]="{standalone: true}" [disabled]="data.llamadoDesde === 'ARCHIVADAS'">
              <mat-datepicker-toggle matSuffix [for]="pickerEnvioDespacho"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnvioDespacho></mat-datepicker>
            </mat-form-field>
          </mat-expansion-panel>

        </mat-accordion>
  </form>

</mat-dialog-content>

<mat-dialog-actions *ngIf="data.llamadoDesde === 'RADICADOR' || data.llamadoDesde === 'ASIGNADAS'">
  <button mat-button mat-dialog-close class="buton-cancelar">Cancelar</button>
  <button mat-raised-button class="buton-guardar" (click)="crearEditar()">Guardar</button>
</mat-dialog-actions>
