:host {
  display: flex;
  justify-content: center;
  padding: 20%;
  background-color: #090258;
}

mat-card {
  border-radius: 10px;
}

.mensaje {
  color: #090258;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
  color: #ffff;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  background-color: #007DED;
  color: #ffff;
  border-radius: 10px;
}
