<div class="fondo">
  <mat-card>
    <mat-card-title class="mensaje">BIENVENIDO</mat-card-title>
<mat-card-content>
<form (ngSubmit)="submit()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <a class="contrasena">
      ¿olvidaste tu contraseña?
    </a>
  </p>

  <div class="button">
    <button type="submit" mat-button>Ingresar</button>
  </div>

</form>
</mat-card-content>
</mat-card>
</div>
