<div>
  <!-- formulario para hacer un filtrado según solicitudes existente -->
  <div>
    <mat-card class="titulo-buqueda-solicitud">Búsqueda solicitudes de información</mat-card>
  </div>
  <div>
    <mat-card class="buqueda-solicitud">
      <form>
        <mat-grid-list cols="3" rowHeight="70px">
          <mat-form-field class="IdTutela" appearance="fill">
            <mat-label>Nº Id de tutela</mat-label>
            <input name="idTutela" matInput placeholder="1" [(ngModel)]="filtroSolicitudes.idTutela">
          </mat-form-field>

          <mat-form-field class="fecha-desde" appearance="fill">
            <mat-label>Desde</mat-label>
            <input name="pickerDesde" matInput [matDatepicker]="pickerDesde" placeholder="mes/dia/año"
                   [(ngModel)]="filtroSolicitudes.fechaDesde">
            <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
            <mat-datepicker #pickerDesde></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="fecha-hasta" appearance="fill">
            <mat-label>Hasta</mat-label>
            <input name="pickerHasta" matInput [matDatepicker]="pickerHasta" placeholder="mes/dia/año"
                   [(ngModel)]="filtroSolicitudes.fechaHasta">
            <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
            <mat-datepicker #pickerHasta></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="estados" appearance="fill">
            <mat-label>Estados</mat-label>
            <mat-select name="estados" [(ngModel)]="filtroSolicitudes.estado">
              <mat-option *ngFor="let estado of estadosOpciones" [value]="estado">
                {{estado}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-grid-list>
        <button mat-raised-button class="buton-borrar" (click)="borrar()">Borrar</button>
        <button mat-raised-button class="buton-filtrar" (click)="filtrar()">Filtrar</button>
      </form>
    </mat-card>
  </div>

  <!-- Tabla descrición solicitudes existentes -->
  <div>
    <table mat-table [dataSource]="solicitudes" class="mat-elevation-z8">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <div *ngIf="column !== 'acciones'">
          <td mat-cell *matCellDef=" let solicitud"> {{
            column === 'descripcion' ? solicitud[column].substring(0, 30) + '...' :
              column === 'tutela' ? solicitud[column].id :
                solicitud[column]
            }} </td>
        </div>
        <div *ngIf="column === 'acciones'">
          <td mat-cell *matCellDef="let solicitud">
            <mat-icon (click)="verSolicitud(solicitud)" class="icon-logo">visibility</mat-icon>
            <mat-icon *ngIf="solicitud.estado === 'CREADA' && parametrosComponente.view === 'RADICADOR'" (click)="aceptarSolicitud(solicitud)" class="icon-logo">
              verified
            </mat-icon>
            <mat-icon *ngIf="solicitud.estado === 'CREADA' && parametrosComponente.view === 'RADICADOR'" (click)="negarSolicitud(solicitud)" class="icon-logo">
              remove
            </mat-icon>
          </td>
        </div>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>



