:host {
  display: flex;
  justify-content: center;
}


.titulo-buqueda-solicitud {
  display: flex;
  align-content: center;
  width: 60rem;
  min-width: 40rem;
  background-color: #F5F5F5;
  margin-top: 5rem;
  align-content: center;
}

.buqueda-solicitud {
  display: flex;
  width: 60rem;
  min-width: 40rem;
  background-color: #ffff;
  margin-top: 0.22rem;
  align-content: center;
}

.IdTutela {
  position: relative;
  left: 0rem;
  margin-top: 1rem;
}

.fecha-desde {
  position: relative;
  left: 1rem;
  margin-top: 1rem;
}

.fecha-hasta {
  position: relative;
  left: 2rem;
  margin-top: 1rem;
}

.estados {
  position: relative;
  left: 3rem;
  margin-top: 1rem;
}

table {
  position: absolute;
  width: 62rem;
  min-width: 40rem;
  background-color: #ffff;
  margin-top: 4rem;
}

/* Botones*/

.buton-solicitud {
  position: relative;
  left: 65rem;
  color: #ffff;
  background-color: #007DED;
  margin-top: 4rem;
}

.buton-borrar {
  float: right;
  right: 2.6rem;
  margin-top: 2rem;
}

.buton-filtrar {
  float: right;
  left: 7.2rem;
  background-color: #007DED;
  color: #ffff;
  margin-top: 2rem;
}
