<!-- En esta vista el Radicador podrá ver, listar y filtral las tutelas -->
<div>
  <div>
    <button mat-button class="buton-radicar-tutela" (click)="openDialog()">Radicar tutela</button>
  </div>
  <!-- formulario para filtrar tutelas radicadas -->
  <div>
    <mat-card class="titulo-buqueda-tutela">Búsqueda de tutela</mat-card>
    <mat-card class="buqueda-tutela">
      <form>
        <mat-form-field class="nombre-cliente" appearance="fill">
          <mat-label>Cliente</mat-label>
          <mat-select name="cliente" [(ngModel)]="filtroTutela.idCliente">
            <mat-option *ngFor="let cliente of clienteOpciones" [value]="cliente.value" >
              {{cliente.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="fecha-inicio" appearance="fill">
          <mat-label>Desde</mat-label>
          <input name="pickerDesde" matInput [matDatepicker]="pickerDesde" placeholder="mes/dia/año" [(ngModel)]="filtroTutela.fechaDesde">
          <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
          <mat-datepicker #pickerDesde></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="fecha-final" appearance="fill">
          <mat-label>Hasta</mat-label>
          <input name="pickerHasta" matInput [matDatepicker]="pickerHasta" placeholder="mes/dia/año" [(ngModel)]="filtroTutela.fechaHasta">
          <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
          <mat-datepicker #pickerHasta></mat-datepicker>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="etapa" appearance="fill">
          <mat-label>Etapa</mat-label>
          <mat-select name="etapa" [(ngModel)]="filtroTutela.etapa">
            <mat-option *ngFor="let etapa of etapaOpciones" [value]="etapa.value" >
              {{etapa.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="IdTutela" appearance="fill">
          <mat-label>Nº Id de tutela</mat-label>
          <input name="IdTutela" matInput placeholder="1" [(ngModel)]="filtroTutela.idTutela">
        </mat-form-field>
        <button mat-raised-button class="buton-borrar" (click)="borrar()">Borrar</button>
        <button mat-raised-button class="buton-filtrar" (click)="filtrar()">Filtrar</button>
      </form>
    </mat-card>
  </div>
      <!-- Tabla descrición tutelas existentes -->
      <div>
      <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <div *ngIf="column !== 'acciones'">
            <td  mat-cell *matCellDef=" let tutela"> {{column === 'cliente' ? tutela[column].nombre : tutela[column]}} </td>
          </div>
          <div *ngIf="column === 'acciones'">
            <td  mat-cell *matCellDef="let tutela">
                <mat-icon (click)="editar(tutela.id)" class="icon-logo" aria-label="Editar tutela">edit</mat-icon>
                <mat-icon (click)="traza(tutela.id)" class="icon-logo" aria-label="traza tutela">moving</mat-icon>
            </td>
          </div>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
</div>
