:host {
  display: flex;
  justify-content: center;
}

/* busqueda de usuario */

.titulo-buqueda-tutela {
  display: flex;
  align-content: center;
  width: 60rem;
  min-width: 40rem;
  background-color: #F5F5F5;
  margin-top: 1rem;
  align-content: center;
}

.buqueda-tutela {
  display: flex;
  width: 60rem;
  min-width: 40rem;
  background-color: #ffff;
  margin-top: 0.22rem;
  align-content: center;
}

.nombre-cliente {
  position: relative;
  left: 5rem;
  margin-top: 2rem;
}

.etapa {
  margin-left: 5rem;
}

.fecha-inicio {
  position: relative;
  left: 10.5rem;
}

.fecha-final {
  position: relative;
  left: 11.5rem;
}

.IdTutela {
  margin-left: 5rem;
}

/* Botones crear, borrar y filtrar */

.buton-radicar-tutela {
  display: flex;
  left: 54.6rem;
  margin-top: 3rem;
  background-color: #007DED;
  color: #ffff;
}
.buton-borrar {
  position: absolute;
  right: 11rem;
  margin-top: 1.3rem;
}

.buton-filtrar {
  position: absolute;
  right: 6.2rem;
  margin-top: 1.3rem;
  background-color: #007DED;
  color: #ffff;
}


table {
  position: absolute;
  width: 62rem;
  background-color: #ffff;
  margin-top: 4rem;
}


.red-fila {
  color: red;
}

.normal-fila {
  color: black;
}
