.mensaje {
  color: #090258;
  width: 100%;
}

.text-area {
  width: 20rem;
}

.text-area-2 {
  width: 20rem;
  height: 10rem;
}


.buton-cancelar {
  left: 9rem;
}

.buton-guardar {
  left: 9rem;
  background-color: #007DED;
  color: #ffff;
}
