.titulo-filtrar {
  left: 4rem;
  width: 56%;
  color: #090258;
  background-color: #F5F5F5;
  margin-top: 1rem;
}

.buqueda-tutela {
  left: 4rem;
  width: 56%;
  margin-top: 0.4rem;
}

.fecha {
  margin-left: 3rem;
}

.datos-tutelas {
  float: left;
  width: 25%;
  margin-left: 4rem;
  margin-top: 2rem;

}

.mat-numero-tutelas {
  background-color: #007DED;
  color: #ffff;
  font-weight: bold;
}

.mat-tutelas-sin-impugnar {
  background-color: #FC8D7E;
  color: #ffff;
  font-weight: bold;
}

.mat-tutelas-con-impugnar {
  background-color: #FF5C46;
  color: #ffff;
  font-weight: bold;
}

.icon-logo {
  margin-left: 2rem;
}

.text {
  margin-left: 0.2rem;
  text-align: center;
}


.mat-tabla {
  width: 87%;
  margin-left: 4rem;
  margin-top: 2rem;
  padding-top: 40px;
}

.mat-tabla2 {
  width: 87%;
  margin-left: 4rem;
  margin-top: 2rem;
}

.mat-paginator {
  margin-right: 4%;
}

.btn-filtrar {
  position: relative;
  left: 70%;
  background-color: #007DED;
  color: #ffff;
}

.btn-borrar {
  position: relative;
  left: 69%;
}
