<!-- El componente de barra lateral contiene todas las rutas del menu correspondiente al usuario -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
<!-- Titulo -->
    <mat-toolbar class="titulo">
      <mat-icon class="icon-logo" aria-hidden="false" aria-label="Example home icon">folder</mat-icon>
      TUTELAS
    </mat-toolbar>
  <!-- Rutas -->
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/gestion-usuarios']" routerLinkActive="active">
        <mat-icon class="icons" aria-hidden="false" aria-label="Example home icon">people alt</mat-icon>
        Gestión de usuarios
      </a>
      <a mat-list-item [routerLink]="['/gestion-clientes']" routerLinkActive="active">
        <mat-icon class="icons" aria-hidden="false" aria-label="Example home icon">work</mat-icon>
        Gestión de Clientes
      </a>
      <a mat-list-item [routerLink]="['/lista-tutelas']" routerLinkActive="active">
        <mat-icon class="icons" aria-hidden="false" aria-label="Example home icon">list</mat-icon>
        Tutelas
      </a>
      <a mat-list-item [routerLink]="['/solicitudes-informacion']" routerLinkActive="active">
        <mat-icon class="icons" aria-hidden="false" aria-label="Example home icon">add</mat-icon>
        Solicitudes de Información
      </a>
      <a mat-list-item routerLink="/tutelas" routerLinkActive="active">
        <mat-icon class="icons" aria-hidden="false" aria-label="Example home icon">topic</mat-icon>
        Tutelas
      </a>
      <a mat-list-item routerLink="/solicitudes-infomacion-realizadas" routerLinkActive="active">
        <mat-icon class="icons" aria-hidden="false" aria-label="Example home icon">add</mat-icon>
        Solicitudes de Información Realizadas
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-toolbar class="mat-toolbar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon class="icon-user" aria-hidden="false" aria-label="Example home icon">person</mat-icon>
      <p class="username">
        {{usuario}}
      </p>
      <mat-icon class="icon-solicitudes" aria-hidden="false" aria-label="Example home icon">email</mat-icon>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
    <!-- Contenido de cada boton según la ruta -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
